/* Mejland */
.mapa {
    width: 100%;
}

.mapa-top {
    height: 4em;
}

.mapa-pc {
    height: 560px;
	width: 840px;
	margin: 0 auto;
	position: relative;
}
.mapa-pc > img {
	position: absolute;
	top: 0;
	left: 0;
	height: 560px;
	width: 840px;
}

/* Balão Pop-up */
.balao {
	position: absolute;
	display: none;
	width: 18em;
	padding: 1em;
	z-index: 4;
	cursor:pointer;
	background-color: white;
	box-sizing: border-box;
	font-family: PT Sans;
    color: #666666;
	border: 7px solid #f74848;
	border-bottom-right-radius: 2em;
	border-bottom-left-radius: 2em;
	border-top-right-radius: 2em;
}
.balao h3, .balao h4 {
	margin: 0;
}
.balao h3 {
	color: black;
	margin-bottom: 0.5em;
}
.balao img {
	float: left;
	margin-right: 1em;
	height: 5em;
}

.gatilho {
	position: absolute;
	display: block;
	z-index: 4;
	cursor:pointer;
}
.gatilho:hover + div {
	display: block;
}

/* Biblioteca */
.biblioteca {
	width: 65px;
    height: 60px;
    left: 380px;
    top: 95px;
}
.biblioteca:hover + div {
    left: 445px;
    top: 95px;
}

/* Central de TI */
.central-ti {
	width: 85px;
	height: 110px;
	left: 455px;
	top: 90px;
}
.central-ti:hover + div {
	left: 540px;
    top: 90px;
}

/* Jornal */
.jornal {
	width: 70px;
	height: 80px;
	left: 570px;
	top: 180px;
}
.jornal:hover + div {
	left: 640px;
    top: 180px;
}

/* Prefeitura */
.prefeitura {	
	width: 65px;
	height: 65px;
	left: 225px;
	top: 180px;	
}
.prefeitura:hover + div {
	left: 290px;
	top: 180px;	
}

/* Banco */
.banco {	
	width: 65px;
	height: 75px;
	left: 315px;
	top: 220px;
}
.banco:hover + div {
	left: 380px;
	top: 220px;	
}

/* Arquitetura */
.arquitetura {	
	width: 70px;
	height: 80px;
	left: 410px;
	top: 270px;	
}
.arquitetura:hover + div {
	left: 480px;
	top: 270px;
}